// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation{
  .alert-warning{
    ul{
      list-style-type: none;
      margin:0;
      padding:0;
    }
  }
}
